.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  margin-left: 26px;
  margin-top: 755px;
}

.insta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
}

.instalogo {
  width: 30px;
  height: 30px;
}
