.gallery {
  display: flex;
  align-items: center;
}

.galleryNav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.galleryNav div {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 1;
}

/*.galleryNav .disabled {
  opacity: 0;
  cursor: default;
}*/

.galleryNav div::before,
.galleryNav div::after {
  content: '';
  position: absolute;
  background: black;
  /*border-radius: 20px;*/
}

.galleryNav div::before {
  width: 5px;
  height: 20px;
}

.galleryNav div::after {
  width: 20px;
  height: 5px;
}

#prev {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#next {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.galleryNav2 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1429px;
  align-items: center;
}

.galleryNav2 div {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 16px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 0;
}

/*.galleryNav .disabled {
  opacity: 0;
  cursor: default;
}*/

.galleryNav2 div::before,
.galleryNav2 div::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(255, 255, 255, 0.2);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.images {
  margin-top: 100px;
  display: flex;
}

.allImages {
  width: 983px;
  height: 643px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.smallImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.allImages.first {
  margin-left: 130px;
}

.allImages.last {
  padding-right: 130px;
  width: 1113px;
}

.photo {
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

.photo.a {
 background-image: url(../images/1.jpg);
 width: 643px;
 height: 643px;
}

.photo.b {
 background-image: url(../images/2.jpg);
 width: 315px;
 height: 315px;
}

.photo.c {
 background-image: url(../images/3.jpg);
 width: 315px;
 height: 315px;
}

.photo.d {
 background-image: url(../images/4.jpg);
 width: 643px;
 height: 643px;
}

.photo.e {
 background-image: url(../images/5.jpg);
 width: 315px;
 height: 315px;
}

.photo.f {
 background-image: url(../images/6.jpg);
 width: 315px;
 height: 315px;
}

.photo.g {
 background-image: url(../images/7.jpg);
 width: 643px;
 height: 643px;
}

.photo.h {
 background-image: url(../images/8.jpg);
 width: 315px;
 height: 315px;
}

.photo.i {
 background-image: url(../images/9.jpg);
 width: 315px;
 height: 315px;
}

@media screen and (max-width: 1460px) {
  .body {
    width: 100%
  }
}

@media screen and (max-width: 996px) {
  .allImages.first {
    margin-left: 10px;
  }
  .allImages.last {
    padding-right: 10px;
    width: 985px;
  }
}
