nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

/*svg buttons*/

/*.disabled {
  opacity: 0!important;
  cursor: default!important;
}

#prev,
#next {
  width: 50px;
  height: 50px;
  opacity: .2;
  cursor: pointer;
}

#prev:hover,
#next:hover {
  opacity: .8;
}

#prev {
  transform: rotate(180deg);
}*/

/*css buttons*/

.btn {
  cursor: pointer;
  opacity: .4;
  z-index: 2;
}

.disabled {
  opacity: 0;
  cursor: default;
}

.btn:hover {
  opacity: .8;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
}

.arrow {
  position: fixed;
  width: 20px;
  height: 20px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  margin: 13px;
}

.prev {
  transform: rotate(135deg);
}

.next {
  transform: rotate(-45deg);
}
